.header-container-dk {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 1rem;

  .title-wrapper {
    width: auto;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 48px;
    width: 100%;
    height: auto;

    :hover {
      cursor: crosshair;
    }
  }
}