/* Mobile Header */
.header-container-mb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 1rem;

  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 48px;
    width: 100%;
    z-index: 999;

    :hover {
      cursor: crosshair;
    }
  }
  .title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    width: 100%;

  //  font design
    font-size: 1.2rem;
    font-weight: bold;

  }

}

/* Mobile Navigation */
.navigation-container-mb {
}

/* Mobile Navigation Item */
